<div class="content">
  <div style="text-align: center;">
    <header>
      <a href="https://icea2025.github.io/latrobe">
        <img src="https://icea2025.github.io/latrobe/image/ICEA2024-Banner.png" alt="ICEA2024 Banner" style="max-width: 100%; height: auto;">
      </a>
    </header>
    <h3>
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe">Home</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/committee/">Conference Committee</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/papers/">Call for Papers</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/submission/">Paper Submission</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/registration/">Registration</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/program/">Program</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/keynote">Keynote Speech</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/best_papers/">Best Papers</a> |
      <a style="text-decoration: none;" href="https://icea2025.github.io/latrobe/venue/">Venue</a>
    </h3>
  </div>
</div>
<hr>
